# **Machine Learning model for gas production prediction**
# **Part 2: Exploratory Data Anlysis (EDA)**
### **Author:** M. Sc. Alberto M. Palacio Bastos - Data Scientist
### **Objective:** Build a model to estimate gas production.
### **Dataset:** http://huy302.github.io/interview_dataset.csv

In [2]:
# for data manipulation
import numpy as np
import pandas as pd

# for data visualizaton
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns 

# for displaying all of the columns in dataframes
pd.set_option('display.max_columns', None)

# for displaying plots in notebook cell
%matplotlib inline

# Loaging confirmation
print("Libraries Loaded:\n",
      " Numpy:", np.__version__, "\n",
      " Pandas:", pd.__version__, "\n",
      " Matplotlib:", matplotlib.__version__, "\n",
      " Seaborn:", sns.__version__)

Libraries Loaded:
  Numpy: 1.26.2
  Pandas: 2.2.1
  Matplotlib: 3.8.3
  Seaborn: 0.13.0

In [3]:
# Load dataset
df = pd.read_csv("cleaned_dataset.csv")
df.head()

,treatment_company,operator,age,azimuth,md,tvd,footage_lateral_length,porpoise_deviation,porpoise_count,shale_footage,acoustic_impedance,log_permeability,poisson_ratio,toc,vcl,p-velocity,s-velocity,youngs_modulus,isip,pump_rate,total_number_of_stages,proppant_volume,proppant_fluid_ratio,production
0,1,1,6,-32.279999,19148,6443.0,11966.0,6.33,12,1093,30123.20,0.68,0.34,5.00,0.42,13592.23,6950.44,30.82,4149.0,83,56,21568792.0,1.23,5614.947951
1,2,2,10,-19.799999,15150,7602.0,6890.0,1.28,4,0,30951.61,1.85,0.19,4.22,0.74,11735.04,7162.45,29.72,5776.0,102,33,9841307.0,1.47,2188.836707
2,3,1,6,-26.879999,14950,5907.0,8793.0,2.03,6,3254,28900.25,0.29,0.33,4.69,0.61,13227.81,6976.93,30.99,4628.0,88,62,17116240.0,1.67,1450.033022
3,4,1,12,-49.099998,11098,6538.0,4234.0,6.00,23,7470,32826.08,0.73,0.20,4.40,0.56,12646.34,6799.37,26.20,4582.0,100,11,3749559.0,0.77,1060.764407
4,5,3,12,5.560000,10549,7024.0,2972.0,11.87,9,3637,26740.05,0.47,0.33,4.66,0.58,13192.18,7046.91,31.18,4909.0,94,9,6690705.0,1.32,607.530385